[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=4.4.20
X-AppImage-Name=gtss
Name=gtss
Exec=AppRun
Icon=gtss
Type=Application
Terminal=false
Categories=Utility;
Comment=
Name[en_US]=org.aprildolly.gtss.desktop
